# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# virtualenv files
.venv/

# Python specific
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.coverage

# Mac DS_Store files
.DS_Store

# environment variables
.env

# misc
TODO.md

# data
src/data/*
!src/data/.gitkeep
